.temporary-page {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--navy);

  font-family: var(--font-heading);
  font-size: 28px;
  font-weight: 700;

  background: var(--background);
}
